@{
    ViewBag.Title = "Welcome to the Top Provo Restaurants";
}

<div class="text-center">
    <h4>This site shows the best restaurants in Provo</h4>
    <!--go ahead and add an image if you want, class="rounded"-->
    <br /><br />
    <a class="btn btn-dark btn-lg" asp-action="RestaurantList">View the Best Restaurants</a>
</div>